.action-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;

  &--btn-expense {
    background-color: forestgreen !important;
    border-color: springgreen !important;
  }
}

.separator {
  height: 100% !important;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.no-information {
  display: flex;
  flex-direction: column;
  align-items: center;

  .anticon-exclamation-circle {
    margin-bottom: 2em;

    svg {
      height: 50px;
      width: 50px;
    }
  }
}